/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

/* Estilos para la barra de navegación */
.navbar-top {
  background-color: #333;
  overflow: hidden;
  text-align: center;
}

.navbar-top .login-link {
  float: right;
}


.navbar-top a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-top a:hover {
  background-color: #ddd;
  color: black;
}




.navbar-top a {
  /* Otros estilos */

  transition: background-color 0.8s, color 0.3s;
}

.navbar-top a:hover {
  background-color: #ddd;
  color: black;
}




/* Estilos para el espacio entre el título y la barra de navegación */
.spacer {
  height: 20px;
}

/* Estilos para la introducción */
.intro {
  margin-bottom: 40px;
  padding-left: 20px;
}

/* Estilos para el formulario */
.formulario {
  text-align: center;
}

.formulario label {
  display: block;
  margin-top: 10px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"] {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}



/* Estilos para el botón del formulario */


/* Estilos para el segundo formulario */
.boton form {
  text-align: center;
}

.boton input[type="button"] {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}



body {
  background-color: #f6f6f6;
  color: #2f2f2f;
}

.navbar-top {
  background-color: #2f2f2f;
}

.navbar-top a {
  color: #f6f6f6;
}

.navbar-top a:hover {
  background-color: #ffd5a6;
  color: #2f2f2f;
}

.navbar-top a.active {
  background-color: #ffcb74;
  color: #2f2f2f;
}

.formulario input[type="button"],
.boton input[type="button"] {
  background-color: #ffcb74;
  color: #2f2f2f;
}

.formulario input[type="button"]:hover,
.boton input[type="button"]:hover {
  background-color: #ffd5a6;
  color: #2f2f2f;
}


/* ESTILOS PARA MODO OSCURO */

